.App {
  text-align: center;
}
body {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  overflow-x: hidden;
  padding-right: 0;
  padding-left: 0;
  background: #eef5fa;
}

.all_holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.left_column {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 639px;
  margin-left: 245px;
  background: #eef5fa;
  height: 2400px;
  clear:both;
  overflow: hidden;
}
.right_column {
  display: flex;
  margin-top: 88px;
  flex-direction: column;
  width: 687px;
  margin-right: 245px;
  background-color: #ffffff;
  border-radius: 25px;
  height: 2400px;
}
@media (max-width: 1900px) {
  .left_column {
    margin-left: 0;
    width: 500px;
  }
  .right_column {
    margin-top: 35px;
    height: 2500px;
    margin-right: 0;
    width: 500px;
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .all_holder {
    flex-wrap: wrap;
  }
  .left_column {
    height: 1120px;
    margin-top: 25px;
  }
  .right_column {
    margin-top: 35px;
    margin-right: 0;
    width: 500px;
  }
}
@media (max-width: 500px) {
  .all_holder {
    flex-wrap: wrap;
  }
  .left_column {
    height: 1120px;
    margin-top: 25px;
    border-radius: 0;
  }
  .right_column {
    width: 100%;
    margin-top: 35px;
    border-radius: 0;
  }
}