
  .blind_section {
    margin-top: -52px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blind {
    width: 568px;
    height: 54px;
    background-color: #f6f6f6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 23px;
    padding-left: 37px;
  }
  .blind > h4 {
    position: relative;
    top: -20%;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  @media (max-width: 1900px) {
    .blind_section > .blind {
      width: 80%;
      margin-left: 0;
    }
  }
  @media (max-width: 500px) {
    .blind_section > .blind {
      width: 100%;
      border-radius: 0;
      margin-top: 15px;
      padding-left: 0;
    }
  }

  .blind_section {
    margin-top: -52px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blind {
    width: 568px;
    height: 54px;
    background-color: #f6f6f6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 23px;
    padding-left: 37px;
  }
  .blind > h4 {
    position: relative;
    top: -20%;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  @media (max-width: 1900px) {
    .blind_section > .blind {
      width: 80%;
      margin-left: 0;
    }
  }
  @media (max-width: 500px) {
    .blind_section > .blind {
      width: 100%;
      border-radius: 0;
      margin-top: 15px;
      padding-left: 0;
    }
  }
  