#color1 {
  background-image: url("./images/01_biel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color2 {
  background-image: url("./images/antracyt-RAL-7016.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color3 {
  background-image: url("./images/braz-RAL-8028.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color4 {
  background-image: url("./images/krem-RAL-1014.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color5 {
  background-image: url("./images/ok-Antracyt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color6 {
  background-image: url("./images/ok-DabBagienny.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color7 {
  background-image: url("./images/ok-mahon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#color8 {
  background-image: url("./images/ok-Orzech.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color9 {
  background-image: url("./images/ok-Sosna.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color10 {
  background-image: url("./images/ok-Winchester.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color11 {
  background-image: url("./images/ok-ZlotyDab.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color12 {
  background-image: url("./images/srebrny-RAL-9006.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#color13 {
  background-image: url("./images/zloty-dab-RAL8003.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.colorSection {
  width: 100%;
  display: flex;
  height:auto;
  flex-direction: column;
  flex-wrap: nowrap;
}
.colorSection > h2 {
  margin-left: 54px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;

  font-weight: bold;
  margin-top: 6px;
}
.colorHr {
  width: 573px;
  margin-top: -10px;
  border-top: 1px solid #707070;
}
.chooseColor {
  margin-top: 10px;
  margin-left: 64px;
  width: 540px;
  height: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.point {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #3b3e51;
  margin-left: 56px;
  margin-top: -6px;
  outline: none;
}
.point:active,
.pointActive:active {
  outline: none;
}
.pointActive {
  background-color: #ff0000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #3b3e51;
  margin-left: 56px;
  margin-top: -6px;
  position: absolute;
  outline: none;
}
.color {
  width: 78px;
  height: 75px;
  border-radius: 25px;
  border: 1px solid black;
}
.systemColor {
  width: 78px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.systemColor > p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  color: #3b3e51;
}
#dop {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin-top: -15px;
  color: #ff0000;
}
@media (max-width: 1900px) {
  .colorHr {
    width: 100%;
  }
  .colorSection > h2 {
    margin-left: 0;
  }
  .chooseColor {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .chooseColor {
    width: 100%;
    justify-content: space-around;
    height: auto;
  }
  .centerDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .chooseColor {
    width: 75%;
    justify-content: space-around;
  }
}
