.dataSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.textSection {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: start;
}
.textSection > h1 {
  margin-left: 56px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1;
}
.textSection > h4 {
  margin-left: 56px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.1;
  margin-top: -5px;
}
.textSection > h2 {
  margin-left: 56px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: -5px;
  letter-spacing: 0.1;
}
.dateHr {
  width: 573px;
  margin-top: -10px;
  border-top: 1px solid #707070;
}
form {
  margin-left: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 573px;
  height: 150px;
}
.inputData {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
.inputData > h5 {
  color: #cccccc;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin-top: 5px;
}
.inputData > input {
  height: 44px;
  width: 254px;
  border-radius: 25px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  padding-left: 5px;
  font-weight: normal;
  margin-top: 5px;
}
.blind1 {
  padding-left: 45px;
}
@media (max-width: 1900px) {
  .blind1 {
    padding-left: 0;
  }
  .dateHr {
    width: 100%;
  }
  .inputData {
    height: 90px;
    justify-content: center;
    align-items: center;
  }
  .inputData > input {
    margin-top: 0;
    margin-left: 25px;
    width: 350px;
  }
  form {
    margin-left: 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .firstH5,
  .secendH5 {
    font-size: 15px;
    margin-left: 25px;
  }
  .textSection > h1,
  .textSection > h2,
  .textSection > h4 {
    margin-left: 15px;
  }
}
@media (max-width: 500px) {
  .inputData {
    height: auto;
    flex-wrap: wrap;
  }
  .inputData > input {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 0;
  }
  form {
    margin-left: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
  }
  .textSection {
    flex-wrap: wrap;
  }
}
