#p201 {
  background-image: url("./images/P201.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p202 {
  background-image: url("./images/P202.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#p203 {
  background-image: url("./images/P203.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#p204 {
  background-image: url("./images/P204.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#p205 {
  background-image: url("./images/P205.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#p206 {
  background-image: url("./images/P206.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p207 {
  background-image: url("./images/P207.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#p208 {
  background-image: url("./images/P208.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p209 {
  background-image: url("./images/P209.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p210 {
  background-image: url("./images/P210.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#p211 {
  background-image: url("./images/P211.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p212 {
  background-image: url("./images/P212.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p213 {
  background-image: url("./images/P213.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p214 {
  background-image: url("./images/P214.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p215 {
  background-image: url("./images/P215.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p216 {
  background-image: url("./images/P216.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p217 {
  background-image: url("./images/P217.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#p218 {
  background-image: url("./images/P218.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fabricSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.centerDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.fabricSection > h2 {
  margin-left: 54px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 6px;
}
.fabricHr {
  width: 573px;
  margin-top: -10px;
  border-top: 1px solid #707070;
}
.point {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #3b3e51;
  margin-left: 56px;
  margin-top: -6px;
  outline: none;
}
.point:active,
.pointActive:active {
  outline: none;
}
.pointActive {
  background-color: #ff0000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #3b3e51;
  margin-left: 56px;
  margin-top: -6px;
  position: absolute;
  outline: none;
}
.chooseFabric {
  margin-top: 10px;
  margin-left: 64px;
  width: 540px;
  height: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.point {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #3b3e51;
  margin-left: 78px;
  margin-top: -6px;
  position: absolute;
}
.fabric {
  width: 78px;
  height: 75px;
  border-radius: 25px;
  border: 1px solid white;
}
.fabricColor {
  width: 78px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.fabricColor > p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  color: #3b3e51;
}
@media (max-width: 1900px) {
  .fabricHr {
    width: 100%;
  }
  .fabricSection > h2 {
    margin-left: 0;
  }
  .chooseFabric {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    height: auto;
  }
}
@media (max-width: 500px) {
  .chooseFabric {
    width: 100%;
    justify-content: space-around;
  }
  .centerDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .fabricSection {
    height: auto;
  }
  .chooseFabric {
    width: 75%;
    justify-content: space-around;
  }
}
