.price_show {
  margin-top: 34px;
  width: 100%;
  height:auto;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.price,
.price1 {
  display: flex;
  padding-right: 20px;
  flex-direction: row;
  justify-content: flex-end;
}
.price1 > h4,
.price > h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  letter-spacing: 0.2px;
  color: #3b3e51;
}
.price {
  margin-top: -30px;
}
.price > h3,
.price1 > h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 30px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: #3b3e51;
}
.price > h3 {
  color: #0089ed;
}
@media (max-width: 1900px) {
  .price,
  .price1 {
    padding-right: 44px;
  }
}
@media (max-width: 500px) {
  .price_show {
    border-radius: 0;
  }
}
