.blind_show {
  width: 100%;
  height: 694px;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageWindow {
  width: 363px;
  height: 614px;
}
@media (max-width: 1100px) {
  .blind_show {
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .imageWindow {
    width: 100%;
    height: 694px;
  }
  .blind_show {
    border-radius: 0;
  }
}
